################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Millet.SGV.WebService/Millet.SGV.Business/bin/Debug
